QDialog {
    background-color: __SUPERFICIE__;
    border: 3px solid __BORDE__;
    border-top-left-radius: __RADIO_SUPERIOR_IZQUIERDO__;
    border-top-right-radius: __RADIO_SUPERIOR_DERECHO__;
    border-bottom-left-radius: __RADIO_INFERIOR_IZQUIERDO__;
    border-bottom-right-radius: __RADIO_INFERIOR_DERECHO__;
}
QDialog QLabel {
    color: __TEXTO__;
    font-weight: 600;
    padding: 8px;
}
QDialog QPushButton {
    background-color: __ACENTO__;
    color: __SUPERFICIE__;
    border: 2px solid __BORDE__;
    font-weight: 700;
}
QDialog QPushButton:hover { background-color: __ACENTO_HOVER__; }